<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iOS生学教育App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9B29A9431BF1CD0300246132</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B29A95F1BF1CD0300246132</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B29A96A1BF1CD0300246132</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
